<a href="https://colab.research.google.com/github/SakshiGehani/J015_NLPassignments/blob/ClassWork/CW2_VowelsConsonants%26bg_J015_07_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CW2 - To calculate the number of vowels and consonants in a string

In [0]:
## Importing required library
import pandas as pd

In [0]:
## Reading 'json' type dataset into pandas dataframe
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

##Counting Vowels, Consonants and No. of words for each row

In [0]:
## Function to count the no of words, vowels and consonants
def countWordsVowelsCons(str): 
    counts = dict()
    vowels = 0
    consonants = 0
    word_count = 0
   
    for i in range(0, len(str)):  
        ch = str[i]  
        if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):  
  
            # To handle upper case letters 
            ch = ch.lower() 
            if (ch == 'a' or ch == 'e' or ch == 'i' 
                        or ch == 'o' or ch == 'u'): 
                vowels += 1
            else: 
                consonants += 1
          
    words = str.lower().split()
    word_count = len(words)
      
    counts['Vowels'] = vowels
    counts['Consonants'] = consonants
    counts['Words'] = word_count

    return counts

In [0]:
## applying the count func to target columns
count_reviewText = df.reviewText.apply(countWordsVowelsCons)
count_summary = df.summary.apply(countWordsVowelsCons)

In [0]:
df.insert(5, 'Word&CharCount_reviewText', count_reviewText)

In [7]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 10 columns]

In [0]:
 df.insert(8, 'Word&CharCount_summary', count_summary)

In [9]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 11 columns]

## Counting words, vowels, and consonants after removing punctuation marks and spaces

In [0]:
## Function to remove Punctuation marks and white spaces
def remove_punc(str):
  punctuations = [',', '.', ':', ';', '-', '?', '!', '"', "'", 
                  '[', ']', '{', '}', '|', '/', '<', '>']
  
  str = str.replace(" ", "")

  for ch in str.lower():
    if ch in punctuations :
      str = str.replace(ch, "")
  
  return str

In [0]:
# applying count func after removing punctuations from target columns
countNew_reviewText = df.reviewText.apply(remove_punc).apply(countWordsVowelsCons)
countNew_summary = df.summary.apply(remove_punc).apply(countWordsVowelsCons)

In [12]:
df.insert(6, 'cnt_w/oPunc_revTxt', countNew_reviewText)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 12 columns]

## Words starting with 'b' or 'B', or ending with 'g' or 'G'

In [0]:
## importing Regular Expressions library
import re

For a single sentence

In [14]:
# storing the first sentence(first row) of "reviewText" in 'string1'
string1 = df['reviewText'][0]
string1

"I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!"

In [15]:
start_b = re.findall(r'\b([bB]\w+)\b', string1)   ## creating a list of words that start with 'b' or 'B'
print(start_b)

['bought', 'but', 'by', 'buy', 'but', 'be', 'but', 'best', 'be', 'basic', 'business', 'be', 'back', 'batteries']

In [16]:
end_g = re.findall(r'\b(\w+[gG])\b', string1)  ## creating a list of words that end with 'g' or 'G'
print(end_g)

['travelling', '49G', '49G', '49G', '49G', 'using', 'looking', 'running', '49G', 'coming']

In [17]:
## creating a list of words that start with 'b' or 'B' OR end with 'g' or 'G'
b_g = re.findall(r'\b[bB]\w+|\b\w+[gG]\b', string1)
print(b_g)

['bought', 'travelling', 'but', 'by', 'buy', '49G', '49G', '49G', 'but', '49G', 'be', 'but', 'using', 'best', 'looking', 'be', 'basic', 'business', 'be', 'running', '49G', 'back', 'batteries', 'coming']

For each row of column "reviewText"

In [0]:
# Function that returns a list of words that start with 'b' (or 'B') or end with 'g' (or 'G') in the given string
def stB_endG(str):
  b_g = []
  b_g = re.findall(r'\b[bB]\w+|\b\w+[gG]\b', str)
  return b_g

In [0]:
b_gRevTxt = df.reviewText.apply(stB_endG)
df.insert(7, 'WordsStartingWith_B_OrEndingWith_G_', b_gRevTxt)

In [20]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 13 columns]