<a href="https://colab.research.google.com/github/SakshiGehani/J015_NLPassignments/blob/HomeWork/HW4_GloVe_J015_17_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install glove-python

Requirement already satisfied: glove-python in /usr/local/lib/python3.6/dist-packages (0.1.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from glove-python) (1.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from glove-python) (1.17.4)

## Finding similar words using Cosine similarity between word embeddings(vectors) created using GloVe library

In [2]:
import pandas as pd

## Twitter dataset
df = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv")
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [12]:
import nltk
nltk.download('punkt')
from glove import Corpus, Glove

tokens = df.TweetText.apply(nltk.word_tokenize)      #tokenizing the strings
corpus = Corpus()                                    # creating a corpus object
corpus.fit(tokens, window=10)                         # training the corpus to generate a co-occurance matrix
glove = Glove(no_components=100, learning_rate=0.05)
glove.fit(corpus.matrix, epochs=30, no_threads=4, verbose=True)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Performing 30 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24
Epoch 25
Epoch 26
Epoch 27
Epoch 28
Epoch 29

In [0]:
glove.add_dictionary(corpus.dictionary)

In [14]:
glove.most_similar('amazing')         ## Looking for words similar to 'amazing'

[('Damn', 0.9731250870690784),
 ('Is', 0.9670984313445116),
 ('awesome', 0.9662890830031042),
 ('Where', 0.9626590721226383)]

In [6]:
glove.most_similar('support')

[('store', 0.981852259790585),
 ('thanks', 0.9778407718808247),
 ('please', 0.9743256190975307),
 ('telerinonline', 0.9734567978022312)]

### Amazon dataset

In [7]:
df2 = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

df2.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [15]:
tokens = df2.summary.apply(nltk.word_tokenize)
corpus = Corpus()
corpus.fit(tokens, window=10)
glove = Glove(no_components=500, learning_rate=0.05)
glove.fit(corpus.matrix, epochs=30, no_threads=4, verbose=True)

Performing 30 training epochs with 4 threads
Epoch 0
Epoch 1
Epoch 2
Epoch 3
Epoch 4
Epoch 5
Epoch 6
Epoch 7
Epoch 8
Epoch 9
Epoch 10
Epoch 11
Epoch 12
Epoch 13
Epoch 14
Epoch 15
Epoch 16
Epoch 17
Epoch 18
Epoch 19
Epoch 20
Epoch 21
Epoch 22
Epoch 23
Epoch 24
Epoch 25
Epoch 26
Epoch 27
Epoch 28
Epoch 29

In [0]:
glove.add_dictionary(corpus.dictionary)

In [18]:
glove.most_similar('amazing')

[('Outstanding', 0.8747670726920617),
 ('indeed', 0.8595278029876925),
 ('outstanding', 0.81747617322886),
 ('Superb', 0.8153759724839633)]