<a href="https://colab.research.google.com/github/SakshiGehani/J015_NLPassignments/blob/HomeWork/HW2_NotStartWithBorEndWithG_J015_09_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To print the words in a string that do not start with 'b' or end with 'g'

In [0]:
## Importing required library
import pandas as pd

In [0]:
## Reading 'json' type dataset into pandas dataframe
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
## Function to remove Punctuation marks
def remove_punc(str):
  punctuations = [',', '.', ':', ';', '-', '?', '!', '"', "'", '[', ']', '{', '}', '|', '/', '<', '>']

  for ch in str.lower():
    if ch in punctuations :
      str = str.replace(ch, "")
  
  return str

In [0]:
# removing punctuations from target columns
noPunc_reviewText = df.reviewText.apply(remove_punc)
noPunc_summary = df.summary.apply(remove_punc)

In [0]:
## importing Regular Expressions library
import re

For a single sentence

In [7]:
list1 = re.findall(r'\b[^ ]\w+\b', noPunc_reviewText[0], re.IGNORECASE) ## eliminating words that start with ' '
notStart_b = re.findall(r'\b[^b]\w+\b', str(list1), re.IGNORECASE)   ## creating a list of words that do not start with 'b' or 'B'
print(notStart_b)

['my', 'first', 'HP12C', 'in', 'about', '1984', 'or', 'so', 'and', 'it', 'served', 'me', 'faithfully', 'until', '2002', 'when', 'lost', 'it', 'while', 'travelling', 'searched', 'for', 'another', 'one', 'to', 'replace', 'it', 'found', 'one', 'difficult', 'to', 'come', 'in', 'my', 'area', 'So', 'decided', 'to', 'up', 'and', 'purchased', 'an', 'HP', '49G', 'What', 'mistake', 'know', 'that', 'many', 'people', 'view', 'the', 'HP', '49G', 'now', '49G', 'as', 'the', 'flagship', 'of', 'the', 'HP', 'line', 'for', 'me', 'that', 'was', 'disasterThe', '49G', 'may', 'powerful', 'using', 'it', 'is', 'extremely', 'counterintuitiveand', 'the', 'manual', 'was', 'sketchy', 'at', 'The', '12C', 'on', 'the', 'other', 'hand', 'does', 'what', 'need', 'in', 'way', 'that', 'makes', 'good', 'sense', 'to', 'meIf', 'you', 'are', 'looking', 'for', 'solid', 'reliable', 'calculator', 'the', 'HP12C', 'may', 'for', 'you', 'Its', 'programmable', 'It', 'does', 'statistics', 'well', 'and', 'many', 'applications', 'too', 'The', 'manual', 'makes', 'sense', 'you', 'will', 'up', 'and', 'running', 'in', 'short', 'orderIm', 'ready', 'to', 'set', 'my', '49G', 'aside', 'and', 'move', 'to', 'my', 'old', 'friend', 'didnt', 'even', 'have', 'to', 'replace', 'the', 'in', 'well', 'over', 'decade', 'of', 'useHP', '12C', 'Im', 'coming', 'home']

In [8]:
notEnd_g = re.findall(r'\b\w+[^g]\b', str(list1), re.IGNORECASE)   ## creating a list of words that do not end with 'g' or 'G'
print(notEnd_g)

['bought', 'my', 'first', 'HP12C', 'in', 'about', '1984', 'or', 'so', 'and', 'it', 'served', 'me', 'faithfully', 'until', '2002', 'when', 'lost', 'it', 'while', 'searched', 'for', 'another', 'one', 'to', 'replace', 'it', 'but', 'found', 'one', 'difficult', 'to', 'come', 'by', 'in', 'my', 'area', 'So', 'decided', 'to', 'buy', 'up', 'and', 'purchased', 'an', 'HP', 'What', 'mistake', 'know', 'that', 'many', 'people', 'view', 'the', 'HP', 'now', 'as', 'the', 'flagship', 'of', 'the', 'HP', 'line', 'but', 'for', 'me', 'that', 'was', 'disasterThe', 'may', 'be', 'powerful', 'but', 'it', 'is', 'extremely', 'counterintuitiveand', 'the', 'manual', 'was', 'sketchy', 'at', 'best', 'The', '12C', 'on', 'the', 'other', 'hand', 'does', 'what', 'need', 'in', 'way', 'that', 'makes', 'good', 'sense', 'to', 'meIf', 'you', 'are', 'for', 'solid', 'reliable', 'calculator', 'the', 'HP12C', 'may', 'be', 'for', 'you', 'Its', 'programmable', 'It', 'does', 'basic', 'statistics', 'well', 'and', 'many', 'business', 'applications', 'too', 'The', 'manual', 'makes', 'sense', 'you', 'will', 'be', 'up', 'and', 'in', 'short', 'orderIm', 'ready', 'to', 'set', 'my', 'aside', 'and', 'move', 'back', 'to', 'my', 'old', 'friend', 'didnt', 'even', 'have', 'to', 'replace', 'the', 'batteries', 'in', 'well', 'over', 'decade', 'of', 'useHP', '12C', 'Im', 'home']

In [9]:
## creating a list of words that neither start with 'b' or 'B' nor end with 'g' or 'G'
nswB_newG = re.findall(r'\b[^b]\w+[^g]\b', str(list1), re.IGNORECASE)
print(nswB_newG)

['first', 'HP12C', 'about', '1984', 'and', 'served', 'faithfully', 'until', '2002', 'when', 'lost', 'while', 'searched', 'for', 'another', 'one', 'replace', 'found', 'one', 'difficult', 'come', 'area', 'decided', 'and', 'purchased', 'What', 'mistake', 'know', 'that', 'many', 'people', 'view', 'the', 'now', 'the', 'flagship', 'the', 'line', 'for', 'that', 'was', 'disasterThe', 'may', 'powerful', 'extremely', 'counterintuitiveand', 'the', 'manual', 'was', 'sketchy', 'The', '12C', 'the', 'other', 'hand', 'does', 'what', 'need', 'way', 'that', 'makes', 'good', 'sense', 'meIf', 'you', 'are', 'for', 'solid', 'reliable', 'calculator', 'the', 'HP12C', 'may', 'for', 'you', 'Its', 'programmable', 'does', 'statistics', 'well', 'and', 'many', 'applications', 'too', 'The', 'manual', 'makes', 'sense', 'you', 'will', 'and', 'short', 'orderIm', 'ready', 'set', 'aside', 'and', 'move', 'old', 'friend', 'didnt', 'even', 'have', 'replace', 'the', 'well', 'over', 'decade', 'useHP', '12C', 'home']

For the entire column

In [0]:
# Function that returns a list of words that neither start with 'b' (or 'B') nor end with 'g' (or 'G') in the given string
def nstB_nendG(str1):
  notb_g = []
  list1 = re.findall(r'\b[^ ]\w+\b', str1)   ## eliminating words that begin with ' '
  notb_g = re.findall(r'\b[^b]\w+[^g]\b', str(list1), re.IGNORECASE)  ## creating a list of words that neither start with 'b' or 'B' nor end with 'g' or 'G'
  return notb_g

In [11]:
## For column "reviewText"
nb_ngRevTxt = noPunc_reviewText.apply(nstB_nendG)
df.insert(5, 'WordsNotStartingWith_B_OrEndingWith_G_', nb_ngRevTxt)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 10 columns]

In [12]:
## For column "Summary"
nb_ngSumm = noPunc_summary.apply(nstB_nendG)
df.insert(8, 'WordsNotStartingWith_B_OrEndingWith_G_Summary', nb_ngSumm)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 11 columns]