<a href="https://colab.research.google.com/github/SakshiGehani/J015_NLPassignments/blob/ClassWork/CW3_NLTK_Pipeline_J015_10_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a pipeline using NLTK

In [0]:
# Importing Pandas and NLTK modules
import pandas as pd
import nltk

In [0]:
## Reading 'json' type dataset into pandas dataframe
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [3]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
## Function to remove Punctuation marks and white spaces
def remove_punc(str):
  punctuations = [',', '.', ':', ';', '-', '?', '!', '"', "'", 
                  '[', ']', '{', '}', '|', '/', '<', '>']

  for ch in str.lower():
    if ch in punctuations :
      str = str.replace(ch, "")
  
  return str

### For a single sentence

In [5]:
nltk.download('punkt')   ## punkt is a purpose
str1 = df.reviewText[0]  ## first sentence/row of clmn reviewText
str1 = remove_punc(str1)
tokens = nltk.word_tokenize(str1)   ## tokenizing the string using word_tokenize func of nltk package
print(tokens)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
['I', 'bought', 'my', 'first', 'HP12C', 'in', 'about', '1984', 'or', 'so', 'and', 'it', 'served', 'me', 'faithfully', 'until', '2002', 'when', 'I', 'lost', 'it', 'while', 'travelling', 'I', 'searched', 'for', 'another', 'one', 'to', 'replace', 'it', 'but', 'found', 'one', 'difficult', 'to', 'come', 'by', 'in', 'my', 'area', 'So', 'I', 'decided', 'to', 'buy', 'up', 'and', 'purchased', 'an', 'HP', '49G', 'What', 'a', 'mistake', 'I', 'know', 'that', 'many', 'people', 'view', 'the', 'HP', '49G', '(', 'now', '49G+', ')', 'as', 'the', 'flagship', 'of', 'the', 'HP', 'line', 'but', 'for', 'me', 'that', 'was', 'a', 'disasterThe', '49G', 'may', 'be', 'powerful', 'but', 'using', 'it', 'is', 'extremely', 'counterintuitiveand', 'the', 'manual', 'was', 'sketchy', 'at', 'best', 'The', '12C', 'on', 'the', 'other', 'hand', 'does', 'what', 'I', 'need', 'in', 'a', 'way', 'that', 'makes', 'good', 'sense', 'to', 'meIf', 'you', 'are', 'looking', 'for', 'a', 'solid', 'reliable', 'calculator', 'the', 'HP12C', 'may', 'be', 'for', 'you', 'Its', 'programmable', 'It', 'does', 'basic', 'statistics', 'well', 'and', 'many', 'business', 'applications', 'too', 'The', 'manual', 'makes', 'sense', 'you', 'will', 'be', 'up', 'and', 'running', 'in', 'short', 'orderIm', 'ready', 'to', 'set', 'my', '49G', 'aside', 'and', 'move', 'back', 'to', 'my', 'old', 'friend', 'I', 'didnt', 'even', 'have', 'to', 'replace', 'the', 'batteries', 'in', 'well', 'over', 'a', 'decade', 'of', 'useHP', '12C', 'Im', 'coming', 'home']

In [6]:
nltk.download('averaged_perceptron_tagger')
tagged = nltk.pos_tag(tokens)     ## tagging the string using pos_tag func of nltk package
tagged[0:6]           ## displaying only the first 6 tokens and their tags

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

[('I', 'PRP'),
 ('bought', 'VBD'),
 ('my', 'PRP$'),
 ('first', 'JJ'),
 ('HP12C', 'NNP'),
 ('in', 'IN')]

In [7]:
# import reqired modules 
from nltk.stem import WordNetLemmatizer 
nltk.download('wordnet')
  
lemmatizer = WordNetLemmatizer().lemmatize(str1)    ## lemmatizing the string using lemmatize func of nltk package
lemmatizer

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'I bought my first HP12C in about 1984 or so and it served me faithfully until 2002 when I lost it while travelling  I searched for another one to replace it but found one difficult to come by in my area  So I decided to buy up and purchased an HP 49G  What a mistake  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line but for me that was a disasterThe 49G may be powerful but using it is extremely counterintuitiveand the manual was sketchy at best  The 12C on the other hand does what I need in a way that makes good sense to meIf you are looking for a solid reliable calculator the HP12C may be for you  Its programmable  It does basic statistics well and many business applications too  The manual makes sense you will be up and running in short orderIm ready to set my 49G aside and move back to my old friend  I didnt even have to replace the batteries in well over a decade of useHP 12C Im coming home'

In [8]:
len(tagged)

188

In [9]:
## Finding all the adjectives in the given string
adj = []
for i in range(0,188):
  if "JJ" in tagged[i][1]:                               
    adj.append(tagged[i][0])                                  
print(adj)

['first', 'difficult', 'many', 'disasterThe', 'powerful', 'other', 'good', 'solid', 'reliable', 'programmable', 'basic', 'many', 'manual', 'short', 'ready', 'old', 'useHP']

In [10]:
## Finding all the proper nouns in the given string
pro = []
for i in range(0,188):
  if "NNP" in tagged[i][1]:   
    pro.append(tagged[i][0])
print(pro)

['HP12C', 'HP', 'HP', 'HP', 'HP12C', 'Im']

### For multiple strings (or entire column)

In [0]:
# Function to create NLTK pipeline
def nltk_dict(str):
  nltk_pipeline = dict()

  str = remove_punc(str)
  tokens = nltk.word_tokenize(str)
  tagged = nltk.pos_tag(tokens)
  lemmatizer = WordNetLemmatizer().lemmatize(str)

  nltk_pipeline['Tokenize'] = tokens
  nltk_pipeline['Lemmatize'] = lemmatizer
  nltk_pipeline['Pos_tag'] = tagged

  return nltk_pipeline

In [0]:
# Func to find all adjectives in the given string
def find_Adjectives(str):
  str = remove_punc(str)
  tokens = nltk.word_tokenize(str)
  tagged = nltk.pos_tag(tokens)

  adj = []
  for i in range(0,len(tagged)):
    if "JJ" in tagged[i][1]:                                 
      adj.append(tagged[i][0])                                 
  return(adj)

In [0]:
# Func to find all proper nouns in the given string
def find_ProperNouns(str):
  str = remove_punc(str)
  tokens = nltk.word_tokenize(str)
  tagged = nltk.pos_tag(tokens)

  pro = []
  for i in range(0,len(tagged)):
    if "NNP" in tagged[i][1]:                                 
      pro.append(tagged[i][0])                                 
  return(pro)

In [14]:
df1 = df.iloc[:100]     ## Taking only the first 100 rows of the dataset for input
nltk_pln = df1.reviewText.apply(nltk_dict)      ## Creating NLTK pipeline for all rows of ReviewText
df1.insert(5, 'NLTK Pipeline(Dict)_RevTxt', nltk_pln)
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 10 columns]

In [15]:
nltk_pln = df1.summary.apply(nltk_dict)
df1.insert(8, 'NLTK Pipeline(Dict)_Summary', nltk_pln)  ## Creating NLTK pipeline for all rows of Summary
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 11 columns]

In [16]:
adj_rev = df1.reviewText.apply(find_Adjectives)   ## Finding adjectives in each row of ReviewText
df1.insert(6, 'Adjectives_RevTxt', adj_rev)
adj_summ = df1.summary.apply(find_Adjectives)     ## Finding adjectives in each row of Summary
df1.insert(10, 'Adjectives_Summary', adj_summ)
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 13 columns]

In [17]:
pro_rev = df1.reviewText.apply(find_ProperNouns)      ## Finding proper nouns in each row of ReviewText
df1.insert(7, 'ProperNouns_RevTxt', pro_rev)
pro_summ = df1.summary.apply(find_ProperNouns)        ## Finding proper nouns in each row of Summary
df1.insert(12, 'ProperNouns_Summary', pro_summ)
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 15 columns]